.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: rgba(255, 255, 255, 0.856);
}

.favorite {
  color: rgba(255, 255, 255, 0.856);
  text-decoration: none;
}
