.header {
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #282828;
}

.logo {
  font-size: 100px;
  margin-bottom: 1px;
  margin-left: 25px;
  transition: 0.5s;
  border: transparent dotted 5px;
}

.logo:hover {
  border: white dotted 5px;
}

.favorite {
  color: rgba(255, 255, 255, 0.856);
  text-decoration: none;
  margin-top: 30px;
  margin-right: 45px;
  font-size: 30px;
  transition: 0.2s;
}

.favorite:hover {
  font-size: 31px;
  text-shadow: 0 14px 28px rgba(158, 156, 156, 0.774),
    0 10px 10px rgba(0, 0, 0, 0.226);
}

@media only screen and (max-width: 600px) {
  .logo-img{
    height: 80px;
  }

  .logo {
    font-size: 80px;
    margin-bottom: 1px;
    margin-left: 0px;
  }

  .favorite {
    margin-top: 30px;
    margin-right: 30px;
    font-size: 20px;
    transition: 0.2s;
  }

  .favorite:hover{
    font-size: 21px;
  }
}