<app-header></app-header>
<body>
<div class="tile">
  <img
    src="https://image.tmdb.org/t/p/w220_and_h330_face/{{
      detailGuy.poster_path
    }}"
    alt=""
    class="movie-poster"
  />
</div>
<div class="details">
  <p>Title: {{ detailGuy.title }}</p>
  <p>Overview: {{ detailGuy.overview }}</p>
  <p>Genre: {{ detailGuy.genre_ids }}</p>
  <p>Community Rating: {{ detailGuy.vote_average }}</p>
  <p>Release date: {{ detailGuy.release_date }}</p>
  <p>Budget: {{ detailGuy.budget }}</p>
  <p>Revenue: {{ detailGuy.revenue }}</p>
</div>
</body>