<div class="tile">
  <img
    src="https://image.tmdb.org/t/p/w220_and_h330_face/{{
      movieRef.poster_path
    }}"
    onerror="this.onerror=null;this.src='/assets/no_image.png';"
    class="movie-poster mopo"
    (click)="showDetail(movieRef)"
  />
  <div class="tile-data">
    <p class="title data">{{ movieRef.title }}</p>
    <p class="genre data">{{ setGenre_ids(movieRef.genre_ids) }}</p>
    <p class="data">{{ sliceDate(movieRef.release_date) }}</p>
    <!-- <p>{{ movieRef.id }}</p> -->
  </div>
  <button
  
  (click)="toggleWatchlist(movieRef)"
  class="watchlist-button is-watchlist"
  >
  <i class="fas fa-film is-watchlist"[ngClass]="{ 'is-watchlist': movieRef.favorite }"></i>
</button>
      <div class="rating-circle">
        <p class="rating">{{ movieRef.vote_average }}</p>
      </div>
</div>
<!-- [ngClass]="{is-watchlist: movieRef.isFavorite, is-not-watchlist: !movieRef.isFavorite}" -->
