.movie-poster {
  background-image: url("/assets/no-image-icon-6.png");
  height: 330px;
  width: 220px;
  background-color: #ddd;
  transition: all 0.25s;
}
.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #bbbbbb;
  padding: 15px;
  margin: 5px;
  border-radius: 25px;
  width: 260px;
  height: 440px;
  position: relative;
  transition: all 0.25s;
}

.tile-data {
  margin-top: 10px;
  width: 220px;
  text-align: center;
  color: black;
}

.fas {
  height: 40px;
  width: 60px;
  border-radius: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  color: rgb(71, 70, 70);
  transition: all 0.25s;
  font-family: "Josefin Sans", sans-serif;
}

.fas:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.445), 0 10px 10px rgba(0, 0, 0, 0.226);
}

.mopo:hover {
  box-shadow: 0 14px 28px rgba(158, 156, 156, 0.774),
    0 10px 10px rgba(0, 0, 0, 0.226);
}

.title {
  font-weight: 700;
  font-size: larger;
}

.genre {
  font-style: italic;
  font-weight: 500;
}

.is-watchlist {
  background-color: green;
}

.is-not-watchlist {
  color: purple;
}
