<div class="search">
  <form #searchForm="ngForm" (ngSubmit)="getSearchTerm(searchForm)">
    <label for="searchTerm">Search: </label>
    <input
      type="text"
      id="searchTerm"
      name="searchTerm"
      onfocus="this.value=''"
      ngModel
      required
    />
    <button class="submit" [disabled]="searchForm.invalid">Submit</button>
  </form>
</div>
<div class="search">
  <form #paramForm="ngForm" (ngSubmit)="setParams(paramForm)">
    <label for="year"> Year Released: </label>
    <input type="text" name="year" id="year" onfocus="this.value=''" ngModel />
    <label for="rating"> Community Rating Above: </label>
    <input type="number" name="rating" id="rating" min="0" max="9" ngModel />
    <label for="genre"> Genre: </label>
    <select id="genre" name="genre" ngModel>
      <option *ngFor="let genre of genres; index as i" value="{{ genre.id }}">
        {{ genre.name }}
      </option>
    </select>
    <label for="sort_by"> Sort By: </label>
    <select name="sort_by" id="sort_by" ngModel>
      <option value="popularity.asc">Popularity Ascending</option>
      <option value="popularity.desc">Popularity Descending</option>
      <option value="primary_release_date.asc">Release Date Ascending</option>
      <option value="primary_release_date.desc">Release Date Descending</option>
      <option value="vote_average.asc">Community Rating Ascending</option>
      <option value="vote_average.desc">Community Rating Descending</option>
    </select>
    <button class="submit">Submit</button>
  </form>
</div>
